- name: Create Token File
        run: |
          # This creates the file in the hidden home directory where the script looks by default
          echo '${{ secrets.WITHINGS_TOKENS }}' > /home/runner/.withings_user.json
          chmod 600 /home/runner/.withings_user.json

      - name: Run Sync
        env:
          GARMIN_USERNAME: ${{ secrets.GARMIN_USERNAME }}
          GARMIN_PASSWORD: ${{ secrets.GARMIN_PASSWORD }}
        run: |
          # We removed the --config-folder part since we moved the file to the default location
          withings-sync --gu "$GARMIN_USERNAME" --gp "$GARMIN_PASSWORD"
